*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  text-align: center;
}

.headtop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10%;
}

.headerfunc{
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 20px 0;
  padding: 30px 8%;
}

